body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('asset/background.jpg'); /* Set background image */
    background-size: cover;
    background-attachment: fixed;
    /* width: 100%;
    height: 100vh; */
}

::selection {
  background-color: #4CAF50; /* hijau */
  color: white; /* warna teks saat diseleksi */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80px;
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* bayangan lembut */
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* INI penting agar isi nav-item rata tengah vertikal */
  width: 100%;
  padding-left: 0;
}

.nav__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: gray;
  transition: all 0.3s ease;
}

.nav__link i {
  font-size: 1.25rem;
  transition: transform 0.2s ease, color 0.3s ease;
}

.nav__link:hover {
  color: #21c164;
}

.nav__link:hover i {
  transform: scale(1.5); 
  color: #21c164;
}

.nav__link.active-link {
  color: #21c164;
}

.nav__link.active-link i {
  transform: scale(1.2);
  color: #21c164;
}

.profile-card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.btn-update {
  background-color: #28c341;
  color: white;
  font-weight: 600;
}

.btn-update:hover {
  background-color: #239c38;
}

@media (max-width: 576px) {
    body {
        margin-bottom: 5rem;
    }

    .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-radius: 0;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .nav__item {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .nav__link {
    padding: 0.5rem 0;
    font-size: 0.8rem;
  }
}